#hero main {
  height: 70vh;
  background-color: #eee;
  position: relative;
  background-image: url(../assets/h-16.jpg);
  background-size: cover;
  background-position: center;
}

#hero main .content h1 {
  font-size: 1.15rem;
}

#hero main .content {
  height: 75%;
  aspect-ratio: 1.536/1;
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 25vh;
  background-image: url(../assets/hero-content.svg);
  text-align: center;
  padding-top: 2.5%;
}

#hero main .content .tree {
  width: 150px;
  margin-bottom: 1rem;
}

#hero main .content .dots {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

#our-promise {
  padding: 10vh;
}

#our-promise .content {
  width: 500px;
  margin: auto;
}
#our-promise .content p {
  margin: 1rem 0;
}

#our-promise .images {
  height: 100px;
  background-size: 90%;
  background-image: url(../assets/path.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
}

#our-promise .images img {
  position: absolute;
  bottom: 0;
}

#our-promise .images .leaf-1 {
  left: 10vw;
  bottom: 6.5vw;
}

#our-promise .images .leaf-2 {
  left: 15vw;
}

#our-promise .images .tree {
  right: 10vw;
  width: 150px;
}

#video {
  position: relative;
}

#video video {
  height: 70vh;
  width: 100%;
  object-fit: cover;
  filter: brightness(1.2) contrast(0.75);
}

#difference {
  padding: 10vh;
}

#difference .content {
  width: 500px;
  margin: 0 auto var(--margin);
}

#difference .cards {
  display: flex;
  gap: var(--pading);
  justify-content: center;
}

#difference .cards .card {
  width: 350px;
  /* aspect-ratio: 4/3; */
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: var(--pading);
  transition: 300ms ease-in-out;
  border-radius: 10px;
}

#difference .cards .card:nth-child(1) img {
  width: 75px;
}

#difference .cards .card img {
  flex-basis: 0;
}

#difference .cards .card:nth-child(3) img {
  width: 50px;
}

#difference .cards .card:hover {
  transform: scale(1.1);
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
